<!DOCTYPE html>
<html>
<body>
<h1> Welcome to  Log in Page </h1>

<br>
</br>

<img height="64" width="50" src="C:\\Sites\\Simple_Cms\\app\\assets\\images\\rails.png"  />
<br>
ID : <%= params[:id] %>
ID: <%= @id %>
PAGE: <%= @page.to_i + 1 %>
</body>
</html>